body{
	font-family:'San Francisco';
	font-weight: 400;
}
a{
	color:inherit;
}
a:hover{
	color:rgb(100,100,100);
}
a:visited{
	color:inherit;
}
@font-face{
	font-family:'San Francisco';
	font-weight: 400;
	src: url('SanFranciscoText-Medium.otf');
}
@font-face{
	font-family:'San Francisco';
	font-weight: 200;
	src: url('SanFranciscoText-Thin.otf');
}
#head{
	background-color:rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid #E6E6E6;
	margin:auto;
	padding-top:5px;
	padding-bottom:10px;
	width:990px;
}
.container{
	text-align:center;
	height:auto;
	overflow:auto;
	width: 990px;
	margin:auto;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom: 1px solid #E6E6E6;
}
.container .square{
	background-size:cover;
	height:225px;
	width: 225px;
	margin-right:30px;
	margin-top:15px;
	margin-bottom:15px;
	float:left;
	background-color:purple;
	border-radius: 32px;

}
h1{
	font-weight:200;
}
p{
	font-weight:200;
}
b{
	font-weight: 400;
}
.container .square h1{
	font-family: 'San Francisco';
	font-weight:400;
	font-size:100%;
	color:white;
	text-align:center;
	margin-top:175px;
	line-height:50px;
	background-color:rgba(0,0,0,0.5);
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}
#head h1{
	font-size:150%;
	font-weight: 400;
	display: inline;
}
#head h2{
	font-size:150%;
	display: inline;
	font-weight: 200;
}
#footer{
	height:100px;
	width:990px;
	margin:auto;
}
